@import "../../node_modules/bootstrap/scss/bootstrap";

body {
  background-color: #8b90b9;
}

.header {
  background-color: rgb(255, 234, 236);
  height: 5.5rem;
  div {
    padding-left: 1rem;
  }
  img {
    position: relative;
    top: 0.5rem;
    padding-right: 1.1rem;
  }
  span {
    position: relative;
    top: 0.7rem;
    font-size: 1.5rem;
    color: #226bcd;
  }
}

.window-buttons {
  margin: 0.62rem 1.7rem 0 0;
  button {
    background-color: rgb(255, 234, 236);
    margin: 0.3rem;
    span {
      font-size: 1rem;
      color: #3ba58b;
    }
  }
}

.last-button span {
  color: #226bcd !important;
}

/**
* Sing Up page
*
*
*/

input[value="Register"] {
  background-color: rgb(255, 234, 236);
  color: #226bcd !important;
}
.row:last-of-type div > a {
  background-color: #226bcd !important;
}

/**
chatroom
*/
.card {
  background-color: #8b90b9;
}
#loggedUser {
  background-color: #9dd1ff;
}

#personal-settings {
  button {
    font-size: 1.8rem;
    color: rgb(255, 255, 255);
    background-color: #9dd1ff;
    position: relative;
    top: 0rem;
    margin-left: 0.8rem;
    &:hover {
      background-color: #ffc107 !important;
    }
  }
}
/**
*
*animation loader and chatbox ani
*/

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

#loader-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #ffc107;
  border-radius: 50%;
  border-top: 16px solid #3b3c428c;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/**
*  messages input 
*
*/

.messages {
  padding: 50px 20px 0px 8px !important;
  position: relative;
  margin-bottom: 20px;
}
#message-input {
  width: 90%;
}

.form-control {
  display: inline !important;
}
.postboard {
  min-height: 200px;
  background-color: rgba(0, 0, 0, 0.308);
}
.message-input {
  div {
    margin: 0px 10px 0px 5px !important;
  }
}

.message-bubble {
  border-radius: 25px;
  background-color: #9dd1ff;
  min-width: 200px;
  min-height: 100px;
  position: relative;
  &:after {
    transform: rotateZ(-36deg);
    content: "";
    position: absolute;
    right: 93%;
    bottom: 3%;
    width: 5px;
    height: 0;
    border-top: 6px solid transparent;
    border-right: 32px solid #9dd1ff;
    border-bottom: 16px solid transparent;
  }
}
